body{
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
    color: green;
}
.parent{
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.photo{
    width: 350px;
}
.details-btn{
    padding: 15px 50px ;
    background-image: linear-gradient(45deg, green, red,green);
    border-radius: 20px;
    border: none;
    
}
.details-btn:hover{
    color: whitesmoke;
    background-image: linear-gradient(145deg, red, green,red);

}